{% extends 'base.html.twig' %}

{% block title %}Ma Photothèque{% endblock %}

{% block body %}
<style>
    .example-wrapper {  display:flex; flex-direction: row; justify-content: space-around;}
    h1 {text-align: center;}
  
</style>

<div>
   
    <h1>Ma Photothèque</h1>
    <div class="example-wrapper">
    <div>
    <h2>   <a href="{{ path('lieu_index') }}">Gérer les lieux</a></h2>
    <h2>   <a href="{{ path('sujet_index') }}">Gérer les sujets</a></h2>
      <h2>   <a href="{{ path('dossier_index') }}">Gérer les dossiers</a></h2>
   
<br/>
     <h2>   <a href="{{ path('ajouter') }}">Ajouter un dossier de photos</a></h2>
    
	 </div>
	 </div>
    
</div>
</div>
{% endblock %}
