{% extends 'base.html.twig' %}

{% block title %}Ajouter un dossier de photos{% endblock %}

{% block body %}
<p>Sélectionnez un fichier du dossier que vous voulez intégrer</p>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Intégrer') }}</button>
{{ form_end(form) }}
{% endblock %}